/DeclaringRepositories/.gradle/6.7.1/executionHistory/executionHistory.lock
/DeclaringRepositories/.gradle/6.7.1/fileChanges/last-build.bin
/DeclaringRepositories/.gradle/6.7.1/fileHashes/fileHashes.lock
/DeclaringRepositories/.gradle/6.7.1/gc.properties
/DeclaringRepositories/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/DeclaringRepositories/.gradle/buildOutputCleanup/cache.properties
/DeclaringRepositories/.gradle/checksums/checksums.lock
/DeclaringRepositories/.gradle/checksums/md5-checksums.bin
/DeclaringRepositories/.gradle/checksums/sha1-checksums.bin
/DeclaringRepositories/.gradle/configuration-cache/gc.properties
/DeclaringRepositories/.gradle/vcs-1/gc.properties
/DeclaringRepositories/build.gradle
/DeclaringRepositories/settings.gradle
/gradle-init-test/gradle/wrapper/gradle-wrapper.jar
/gradle-init-test/gradle/wrapper/gradle-wrapper.properties
/gradle-init-test/.gitattributes
/gradle-init-test/.gitignore
/gradle-init-test/build.gradle
/gradle-init-test/gradlew
/gradle-init-test/gradlew.bat
/gradle-init-test/settings.gradle
/LearningGradle/.idea/.gitignore
/LearningGradle/.idea/checkstyle-idea.xml
/LearningGradle/.idea/gradle.xml
/LearningGradle/.idea/misc.xml
/LearningGradle/.idea/vcs.xml
/LearningGradle/gradlew
/LearningGradle/gradlew.bat
/.idea/.gitignore
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/SimpleCalculator.iml
/.idea/vcs.xml
/SimpleCalculator/.idea/.gitignore
/SimpleCalculator/.idea/checkstyle-idea.xml
/SimpleCalculator/.idea/gradle.xml
/SimpleCalculator/.idea/misc.xml
/SimpleCalculator/.idea/uiDesigner.xml
/SimpleCalculator/.idea/vcs.xml
